/gtkdoc/html
/gtkdoc/html.stamp
/gtkdoc/Panel.types
/gtkdoc/tmpl.stamp
/gtkdoc/xml.stamp
/panel.1
/panel.html
/panel.xml
/panel-embed.1
/panel-embed.html
/panel-embed.xml
/panel-message.1
/panel-message.html
/panel-message.xml
/panel-notify.1
/panel-notify.html
/panel-notify.xml
/panelctl.1
/panelctl.html
/panelctl.xml
/settings.1
/settings.html
/settings.xml
/wifibrowser.1
/wifibrowser.html
/wifibrowser.xml
